<div id="<%= dom_id stock %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= stock.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Script:</strong>
    <%= stock.script %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= stock.description %>
  </p>

</div>
