<div class="w-full">
  <div class="flex justify-between items-center box">
    <h1 class="page-title">Editing expense group</h1>
  </div>

  <%= render "form", expense_group: @expense_group, cancel_link: group_path(@expense_group) %>
</div>
