<div class="w-full">
  <div class="flex justify-between items-center box">
    <h1 class="page-title">My Expense groups</h1>
  </div>

  <%= render "form", expense_group: @expense_group, cancel_link: group_index_path %>
</div>
