<div class="box">
  <h1 class="page-title">Editing expense</h1>
</div>


<%= render "form", expense: @expense, submit_url: group_expense_path(@expense_group, @expense), http_method: :patch, cancel_link: group_path(@expense_group) %>
