<div class="box">
  <h1 class="page-title">New expense</h1>
</div>

<%= render "form", expense: @expense, submit_url: group_expenses_path(@expense_group), http_method: :post, cancel_link: group_path(@expense_group) %>
